<?xml version="1.0"?>
<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:ChirpyConfig http://www.weirdlover.com/chirpy/chirp.xsd">

  <FileGroup Name="sh.js">
    <File Path="shCore.js" />
    <File Path="shBrushBash.js" />
    <File Path="shBrushCSharp.js" />
    <File Path="shBrushCss.js" />
    <File Path="shBrushJava.js" />
    <File Path="shBrushJScript.js" />
    <File Path="shBrushPhp.js" />
    <File Path="shBrushPlain.js" />
    <File Path="shBrushSql.js" />
    <File Path="shBrushVb.js" />
    <File Path="shBrushXml.js" />
  </FileGroup>
</root>
