<?xml version="1.0"?>
<root
  xmlns="urn:ChirpyConfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <FileGroup Name="Tegud.Base.js">
    <File Path="Tegud/base.js" />
    <File Path="Utilities/base.js" />
    <File Path="Utilities/yql.js" />
    <File Path="Tegud/ajax.js" />
    <File Path="Tegud/overlay.js" />
    <File Path="Metro/base.js" />
    <File Path="Tiles/base.js" />
    <File Path="Tiles/Modules/Twitter.js" />
    <File Path="Cufon/Cufon.js" Minify="false" />
  </FileGroup>
</root>
  